    $script('http://platform.twitter.com/anywhere.js?id=KVuVlR8VcnhRu4A9JoQl6A&v=1', function () {

      // anywhere.js is ready

    });
    <!DOCTYPE HTML>

    <html>

      <head>

        <meta http-equiv="Content-type" content="text/html; charset=utf-8">

        <title>Anywhere Sample</title>

        <script src="http://platform.twitter.com/anywhere.js?id=KVuVlR8VcnhRu4A9JoQl6A&v=1" type="text/javascript"></script>

      </head>

      <body>

        ...

      </body>

    </html>
    <script type="text/javascript">

      twttr.anywhere(function (T) {

        T.hovercards();

      });

    </script>
    <!DOCTYPE HTML>

    <html>

      <head>

        <meta http-equiv="Content-type" content="text/html; charset=utf-8">

        <title>Anywhere Sample</title>

        <script src="http://platform.twitter.com/anywhere.js?id=KVuVlR8VcnhRu4A9JoQl6A&v=1" type="text/javascript"></script>

      </head>

      <body>

     

      <script type="text/javascript">

     

        twttr.anywhere(function (T) {

          T.hovercards();

        });

     

      </script>

     

      ...

     

      <span id="follow-placeholder"></span>

      <script type="text/javascript">

     

        twttr.anywhere(function (T) {

          T("#follow-placeholder").followButton('anywhere');

        });

     

      </script>

     

      </body>

    </html>